@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

html, body{
    height: 100%;
    width:100%;
    font-family: "Google Sans", sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
background-image: radial-gradient( circle farthest-corner at 9.8% 19.4%,  rgba(223,75,75,1) 11.6%, rgba(20,12,12,1) 90.5% );
 
}

.button{
    padding:20px;
    margin: 0 3px;
    background-color: gray;
    border: 1px solid #717377;
    border-radius: 40px;
    cursor: pointer;   
    color: aliceblue;
    width: 100px;
    font-size: large;
          
   
}

 .zero {
    font-weight: bold;
    width:120px;
    font-size:large;

}

.row{ 
    display: flex;
    margin:8px 2px;
    gap: 15px;
}
.row input{
    width: 500px;
    color: black;
    font-family: Momo;
    font-size: 19px;
    text-align: right;
    font-weight: bolder;
    padding: 10px 19px;
    border: 5px solid rgba(175, 210, 85, 0);
    border-radius: 12px;
    background-color: white;
}

#operator{
    font-weight: bold;
    color: rgb(255, 251, 0);
    font-size: larger;
}

#equals{
    background-color: #eeee07f5;
    font-weight: bolder;
    color:black
}

.button:active{
    transform: scale(0.95px);
}




