
.bg-red{
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 17px;
  width: fit-content;
  margin: auto;
  box-shadow: 0 3px 15px rgba(113,115,199,0.5);
       
}

.mx-auto{
    
    margin: auto;
    
}


.flex{
    display:flex;
}
.flex-col{
    flex-direction:column;
}

.items-center{
   align-items: center;
   justify-content: center;
}

